<div>
  <div class="flex">
    <div
      class="bg-[#eee] flex justify-center items-center ltr:rounded-l-md rtl:rounded-r-md px-3 font-semibold border ltr:border-r-0 rtl:border-l-0 border-[#e0e6ed] dark:border-[#17263c] dark:bg-[#1b2e4b] whitespace-nowrap"
    >
      Paste Object disini
    </div>
    <textarea
      [(ngModel)]="input"
      rows="20"
      class="form-textarea ltr:rounded-l-none rtl:rounded-r-none"
    ></textarea>
  </div>
</div>

<div class="flex justify-center">
  <div
    class="cursor-pointer btn btn-primary h-[60px] w-fit"
    (click)="onCOnvert()"
  >
    Convert
  </div>
</div>

<div>
  <div class="flex">
    <div
      class="bg-[#b4f53c] flex justify-center items-center ltr:rounded-l-md rtl:rounded-r-md px-3 font-semibold border ltr:border-r-0 rtl:border-l-0 border-[#e0e6ed] dark:border-[#17263c] dark:bg-[#1b2e4b] whitespace-nowrap"
    >
      Hasil
    </div>
    <textarea
      id="tsModelOutput"
      [(ngModel)]="result"
      rows="20"
      class="form-textarea ltr:rounded-l-none rtl:rounded-r-none"
    ></textarea>
  </div>
</div>
