<!-- <div class="p-10">
  <img class="w-[80px] !mx-auto flex justify-center mb-3" [src]="'assets/media/icon-info.png'" alt="">
  @if (!!data?.title && data?.title !== '') {
    <p class="!text-[24px] mt-[16px] font-semibold text-center leading-[36px] pb-[24px]">{{ data?.title }}</p>
  }

  <h3 class="text-[#9DA3AE] text-center pb-[24px]" [innerHTML]="data?.text"></h3>
  <div class="flex justify-center gap-2">
    <button class="bg-transparent border-2 border-[indigo] text-[indigo] hover:bg-[indigo] hover:text-white font-bold py-3 px-4 rounded-full text-[18px] inline-flex items-center cursor-pointer w-36 justify-center" (click)="close()">
      <span>No</span>
    </button>
    <button class="bg-[indigo] hover:bg-[#2C3A8C] text-white font-bold py-3 px-4 rounded-full text-[18px] inline-flex items-center cursor-pointer w-36 justify-center" (click)="submit()">
      <span>Yes</span>
    </button>
  </div>
</div> -->
