<div
  class="bg-img flex h-screen items-center justify-center"
  style="background-image: url('assets/media/bg-login.jpg')"
>
  <div class="lg:flex h-full items-center justify-center py-3 lg:py-0">
    <!-- <p-card> -->
      <ng-template pTemplate="header">
        <div class="flex items-center flex-col">
          <img
            class="mb-3 w-[100px] lg:w-[160px]"
            src="assets/media/icon-success.png"
            alt=""
          />
          <p class="text-[20px] lg:text-[32px] mb-1">
            Verification Successful
          </p>
          <p class="text-center text-[14px] text-[#9DA3AE] lg:text-[16px]">
            OTP is correct. Please continue to set your new password.
          </p>
        </div>
      </ng-template>
    <!-- </p-card> -->
  </div>
</div>
