<div class="panel custom-table mb-4">
    <div class="flex items-center mb-3">
        <h4 class="m-0 font-semibold text-[24px] leading-[36px]">Summary</h4>
        <div class="ml-auto w-[340px]">
            <filter-table-user [isDefault]="true" [fields]="filterFields"
                (onSubmitFilter)="filtered($event)"></filter-table-user>
        </div>
    </div>

    <div class="grid grid-cols-2 gap-3">
        <div id="total-user" class="h-full solid border-[#E5E7EB] border-r">
            <div class="flex items-center">
                <img src="assets/icon/icon-total-user.svg" alt="">
                <p class="ml-2 mb-0">Total User</p>
            </div>
            <h4 *ngIf="data; else loading" class="text-[40px] pb-[18px] pt-[8px] leading-[60px]">
                {{data.totalUserActiveFromBeginning}}</h4>

            <!-- <div class="badge w-fit" style="border-radius: 100px; background: linear-gradient(180deg, #68C4FD 0%, #029DFD 100%);">
              <p class="mb-0 text-[12px] !text-[#fff]">+3.5%</p>
          </div>   -->
        </div>
        <div id="total-meeting" class="h-full solid">
            <div class="flex items-center">
                <img src="assets/icon/icon-total-meeting.svg" alt="">
                <p class="ml-2 mb-0">Total Meeting</p>
            </div>
            <h4 *ngIf="data; else loading" class="text-[40px] pb-[18px] pt-[8px] leading-[60px]">
                {{data.totalUserActive}}</h4>

            <!-- <div class="badge w-fit" style="border-radius: 100px; background: linear-gradient(180deg, #68C4FD 0%, #029DFD 100%);">
              <p class="mb-0 text-[12px] !text-[#fff]">+3.5%</p>
          </div>   -->
        </div>
    </div>

    <ng-template #loading>
        <div class="skeleton w-full h-[70px]"></div>
    </ng-template>
</div>
